HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ ###
.idea/
*.iml

### VS Code ###
.vscode/

### Logs ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db